/* PAGES */
.litu-pages--head {
    height: 100vh;
    background-size: cover;
}

.litu-pages--head .mdc-layout-grid__inner {
    height: 100%;
}

.litu-pages--head h1 > hr {
    margin-left: -4vw;
    text-align: left;
    border: solid 1px;
    border-image: linear-gradient(to right, #00a6e8 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%) 2;
}

.litu-pages--head p {
    text-align: right;
}

.litu-pages--content {
    background-color: var(--mdc-theme-background);
    margin-top: -5vh;
    transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
}

.litu-pages--content .mdc-layout-grid__inner {
    margin: 10vh 0 15vh 0;
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
}

/* QUEM SOMOS */
#pages-quem-somos {
    background-image: url(../img/quem-somos/remow_litu-img--quem-somos__bg.jpg);
}

#pages-quem-somos.litu-pages--head .mdc-fab--mini {
    background-color: #00a6e8;
    float: right;
}

.litu-pages--quem-somos__intro {
    text-align: center;
}

.litu-pages--quem-somos__intro hr {
    border-top: solid 1px #00a6e8;
    border-bottom: transparent;
    margin-right: 40%; margin-left: 40%;
}

/* PORTFÓLIO */
#pages-portfolio {
    
}

#pages-portfolio .mdc-image-list {
    padding-top: 8vh;
}

#pages-portfolio .mdc-image-list .mdc-image-list__item {
    width: calc(100% / 4 - .2%);
    margin: 0 .2% .2% 0;
}

#pages-portfolio .litu-pages--head p {
    max-width: 25vw;
    justify-content: flex-end;
    margin-left: auto;
}

#pages-portfolio .litu-pages--head .mdc-list-item {
    height: 1.2em;
    margin-right: -16px;
    text-align: right;
    justify-content: flex-end;
    color: #fff200;
}

#pages-portfolio.litu-pages--head .mdc-fab--mini {
    background-color: #fff200;
    float: right;
}

.litu-pages--portfolio__intro hr {
    border-top: solid 1px #fff200;
    border-bottom: transparent;
    margin-right: 40%; margin-left: 40%;
}

#pages-portfolio .mdc-image-list__supporting {
    height: 100%;
}

#pages-portfolio .mdc-image-list__label {
    width: 100%;
    text-align: center;
}

.litu-pages--portfolio__galeria .litu-feather {
    color: white;
    stroke-width: 2;
}