/* HEADER */
#home-head-video {
    position: absolute;
    right: 0; bottom: 0;
    min-height: 100vh; min-width: 100%;
    z-index: -1;
}

#home-head{
    height: 100vh;
    background-position: center;
    background-size: 100%;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: soft-light;
}

#home-head .mdc-layout-grid__inner {
    height: 100%;
    text-align: right;
}

.litu-home--head{
    background-image: url(../videos/home/remow_litu-video--home__header.mp4);
/*    https://www.w3schools.com/howto/howto_css_fullscreen_video.asp*/
}

#home-head .mdc-layout-grid__cell{
    text-align: right;
}
/* END | HEADER */

/* QUEM SOMOS */
#home-quemsomos {
    background-color: var(--mdc-theme-background);
    margin-top: -5vh;
    transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
}

#home-quemsomos .mdc-layout-grid__inner {
    margin: 15vh 0 20vh 0;
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
}

#home-quemsomos .mdc-fab--mini {
    background-color: #00a6e8;
}

.litu-home--quemsomos__titulo h2{
    margin-bottom: 0;
}

.litu-home--quemsomos__titulo hr{
    margin-left: -2vw;
    text-align: left;
    border: solid 1px;
    border-image: linear-gradient(to right, #00a6e8 25%, #FFFFFF 25%, #FFFFFF 100%) 2;
}

/* END | QUEM SOMOS */

/* INOVAÇÃO */
#home-inovacao{
    background-image: url(../img/home/remow_litu-img--home__inov.png);
    background-size: cover; background-position: center; background-attachment: fixed;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: overlay;
    margin-top: -5vh;
}

#home-inovacao .mdc-layout-grid__inner {
    margin: 15vh 0 20vh 0;
}

#home-inovacao .mdc-fab--mini {
    background-color: #ec008c;
}

.litu-home--inovacao__titulo h2 {
    margin-bottom: 0;
}

.litu-home--inovacao__titulo hr {
    margin-right: -2vw;
    text-align: right;
    border: solid 1px;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 75%, #ec008c 75%, #ec008c 100%) 2;
}

.litu-home--inovacao__titulo,
.litu-home--inovacao__texto {
    text-align: right;
}

#home-inovacao .mdc-image-list {
    max-width: 75%;
    margin-right: 0;
}

#home-inovacao .mdc-image-list .mdc-image-list__item {
    border: solid 1px #ec008c;
    border-radius: 1.6vw;
    padding: 0.8rem;
}
/* END | INOVAÇÃO */

/* PARA QUEM */
#home-paraquem {
    background-color: var(--mdc-theme-background);
    margin-top: -5vh;
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
}

#home-paraquem .mdc-layout-grid__inner {
    margin: 15vh 0 20vh 0;
    transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
}

#home-paraquem .mdc-fab--mini {
    background-color: #fff200;
}

.litu-home--paraquem__titulo h2{
    margin-bottom: 0;
}

.litu-home--paraquem__titulo hr{
    margin-left: -2vw;
    text-align: left;
    border: solid 1px;
    border-image: linear-gradient(to right, #fff200 25%, #FFFFFF 25%, #FFFFFF 100%) 2;
}

#home-paraquem .mdc-image-list .mdc-image-list__image{
    border-radius: 1.6vw 0.4vw;
}

.litu-home--paraquem--depoimento{
    display: flex;
}

.litu-home--paraquem--depoimento__texto {
    box-shadow: none;
}

.litu-home--paraquem--depoimento__foto{
    width: calc(100% / 3); 
    height: calc(100% / 3 - 0.6vw);
    margin-left: 2px;
}

.litu-home--paraquem--depoimento__foto .litu-card__media{
    background-position: center;
}

.litu-home--paraquem--depoimento__texto{
    width: calc(100% / 3 * 2);
    height: fit-content;
}

#home-paraquem .litu-card__primary {
    padding-top: 0;
}

/* END | PARA QUEM */

/* PORTFÓLIO */

#home-portfolio{
    margin-top: -5vh;
}

#home-portfolio.mdc-layout-grid {
    padding: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0) 30%);
}
#home-portfolio .mdc-layout-grid__cell{
    z-index: -9999;
}

#home-portfolio .mdc-image-list .mdc-image-list__item{
    width: calc(100% / 4);
    margin: 0;
}

#home-portfolio .mdc-image-list .mdc-image-list__image{}

.litu-home--portfolio__mais{
    position: absolute;
    z-index: 1;
    height: 90%;
    margin-top: -5vh;
    text-align: center;
}

.litu-home--portfolio__mais button,
.litu-home--portfolio__mais h3{
    display: inline-flex;
}

#home-portfolio .mdc-fab--mini {
    background-color: #fff200;
}

/* END | PORTFÓLIO */