.litu-hide{
    display: none;
}

.litu-show{
    visibility: visible;
}

/* MDC */
.litu-card{
    margin: 0 0.6vw 0.6vw 0;
}
.litu-card__primary{
    padding: 1rem;
}

.litu-card__title{
    margin-top: 0;
}

.litu-card__subtitle{
    margin-bottom: 0;
}

.litu-card__secondary{
    padding: 0 1rem 8px;
}