/* PAGES */
.litu-pages--head {
    height: 100vh;
    background-size: cover;
}

.litu-pages--head .mdc-layout-grid__inner {
    height: 100%;
}

.litu-pages--head h1 > hr {
    margin-left: -4vw;
    text-align: left;
    border: solid 1px;
    border-image: linear-gradient(to right, #00a6e8 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%) 2;
}

.litu-pages--head p {
    text-align: right;
}

.litu-pages--content {
    background-color: var(--mdc-theme-background);
    margin-top: -5vh;
    transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
}

.litu-pages--content .mdc-layout-grid__inner {
    margin: 10vh 0 15vh 0;
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
}

/* QUEM SOMOS */

#pages-quem-somos.litu-pages--head:before {
    content: "";
    top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: black
}

#pages-quem-somos.litu-pages--head {
    background-image: url(../img/quem-somos/remow_litu-img--quem-somos__bg.jpg);
    background-attachment: fixed;
}

#pages-quem-somos.litu-pages--head .mdc-fab--mini {
    background-color: #00a6e8;
    float: right;
}

.litu-pages--quem-somos__intro {
    text-align: center;
}

.litu-pages--quem-somos__intro hr {
    border-top: solid 1px #00a6e8;
    border-bottom: transparent;
    margin-right: 40%; margin-left: 40%;
}

.litu-pages--quem-somos__context {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    padding: 10vh 0;
}

.litu-pages--quem-somos__context__old:before {
    content: "";
    background-image: url(../img/quem-somos/remow_litu-img--quem-somos__context__old.jpg);
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    height: 100vh;
    width: 100vw;
    top: -10vh;
    left: 0;
    position: absolute;
    z-index: -999;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.litu-pages--quem-somos__context__new:before {
    content: "";
    background-image: url(../img/quem-somos/remow_litu-img--quem-somos__context__new.jpg);
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    height: 100vh;
    width: 100vw;
    top: -10vh;
    left: 0;
    position: absolute;
    z-index: -999;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.litu-pages--quem-somos__context .mdc-layout-grid__inner {
    margin: 15vh 0;
}

.litu-pages--quem-somos__significado .mdc-layout-grid__inner {
    margin: 0;
}

.litu-pages--quem-somos__significado {
    background-color: transparent;
    margin: -20vh 0 0 0;
    position: absolute;
}

.litu-pages--quem-somos__significado__content {
    background-color: darkgray;
    margin: calc(var(--mdc-layout-grid-margin-desktop, 24px) * -1);
    padding: var(--mdc-layout-grid-margin-desktop, 24px);
}

.litu-pages--quem-somos__passado,
.litu-pages--quem-somos__presente {
    background-color: transparent;
}

.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item {
    width: calc(100% / 6 - 2.4%);
    margin: 0 2.4% 2.4% 0;
}

.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(6),
.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(12),
.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(18),
.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(24),
.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(30),
.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(36) {
    margin-right: 0;
}

.litu-pages--quem-somos__presente .mdc-image-list__image {
    width: 75%;
}

.litu-pages--quem-somos__passado__content h3 {
    text-align: right;
}

.litu-pages--quem-somos__passado__content hr {
    border-top: solid 1px #00a6e8;
    border-bottom: transparent;
    margin-right: -2vw;
    border-image: linear-gradient(to right, #FFFFFF 75%, #00a6e8 75%, #00a6e8 100%) 2;
}

/* PORTFÓLIO */
#pages-portfolio {
    
}

#pages-portfolio .litu-pages--head p {
    white-space: nowrap;
    max-width: 66.666vw;
}

.litu-pages--portfolio__galeria__text {
    margin-bottom: 4vh;
}

.litu-pages--head__nav .mdc-card {
    border: solid 0px var(--mdc-theme-primary);
}

.litu-pages--head__nav__last .mdc-card {
    background-color: white;
}

.mdc-card__media-content {
    position: absolute;
    top: 50%; right: auto; left: 50%; bottom: auto;
    transform: translate(-50%, -50%);
    margin: 0;
}

.litu-pages--portfolio__head__item {
    text-align: center;
}

/*
i.fa-angle-double-down.litu-pages--portfolio__head__item {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff200;
}
*/

i.litu-pages--portfolio__head__item {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--mdc-theme-primary);
}

.litu-pages--portfolio__galeria__text .mdc-button--unelevated {
/*    background-color: var(--mdc-theme-primary);*/
}

.litu-pages--portfolio__galeria__text .mdc-button:last-child, 
.litu-pages--head--menu__tudo:last-child {
    color: var(--mdc-theme-primary);
    border: none;
}

#pages-portfolio .mdc-image-list .mdc-image-list__item {
    width: calc(100% / 3 - .2%);
    margin: 0 .2% .2% 0;
}
/*

#pages-portfolio .litu-pages--head p {
    max-width: 25vw;
    justify-content: flex-end;
    margin-left: auto;
}

#pages-portfolio .litu-pages--head li.mdc-list-item {
    height: auto;
}

#pages-portfolio .litu-pages--head .mdc-list-item {
    height: 1.2em;
    margin-right: -16px;
    text-align: right;
    justify-content: flex-end;
    color: #fff200;
}
*/

#pages-portfolio.litu-pages--head .mdc-fab--mini {
    background-color: #fff200;
    float: right;
}

.litu-pages--portfolio__intro hr {
    border-top: solid 1px #fff200;
    border-bottom: transparent;
    margin-right: 40%; margin-left: 40%;
}

#pages-portfolio .mdc-image-list__supporting {
    height: 100%;
}

#pages-portfolio .mdc-image-list__label {
    width: 100%;
    text-align: center;
}

.litu-pages--portfolio__galeria .litu-feather {
    color: white;
    stroke-width: 2;
}