/* MENU */
.litu-menu .mdc-button {
    border-radius: 1px;
}

.litu-menu {
    position: fixed; top: calc(100vw / 24); left: calc(100% / 24); z-index: 999;
    width: calc(100% / 12 * 1.5); height: auto;
}

.litu-menu__logo {
    height: auto;
    background-color: var(--mdc-theme-background, #FFFFFF) !important;
    padding: 8%;
}

.litu-menu__logo img {
    width: 100%; height: auto;
}

.litu-menu__nav, 
.litu-menu__contato {
    width: 49.5%; height: auto;
    padding: 2%; margin-top: 2px;
    background-color: var(--mdc-theme-primary);
    text-align: center;
}

.litu-menu__contato {
    float: right;
}

.litu-menu__nav i, litu-menu__contato i {
    font-weight: bold;
}

#menu-nav{
/*    display: none;*/
    margin: 0; padding: 0;
}

.litu-menu__menu{
    width: 100%;
    padding: 2rem 0;
    margin-top: 2px;
}

/* END | MENU */

/* HEADER */
#home-head,
#home-head .slick-list,
#home-head .slick-track{
    height: 100vh;
}

#home-head .mdc-layout-grid{
    background-position: center;
    background-size: 100%;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: soft-light;
}

.litu-home--head__slide1{
    background-image: url(../img/home/remow_litu-img--home--head__slide1.jpg);
}

.litu-home--head__slide2{
    background-image: url(../img/home/remow_litu-img--home--head__slide2.jpg);
}

#home-head .mdc-layout-grid__cell{
    text-align: right;
}

#home-head .mdc-layout-grid__inner {
    height: 100%;
    text-align: right;
}
/* END | HEADER */

/* QUEM SOMOS */
#home-quem-somos {
    background-color: var(--mdc-theme-background);
    margin-top: -5vh;
    transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
}

#home-quem-somos .mdc-layout-grid__inner {
    margin: 10vh 0;
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
}

#home-quem-somos .mdc-fab--mini {
    border-radius: 4px;
    background-color: #00a6e8;
    font-weight: bold;
}

#home-quem-somos h2 {
    padding-left: 2vw;
}

#home-quem-somos #title{
    border-bottom: solid 2px;
    border-image:  linear-gradient(to right, #00a6e8 25%, #FFFFFF 25%, #FFFFFF 100%) 2;
}
/* END | QUEM SOMOS */

/* INOVAÇÃO */
#home-inovacao{
    background-image: url(../img/home/remow_litu-img--home__inov.png);
    background-size: cover; background-position: center; background-attachment: fixed;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: overlay;
    margin-top: -5vh;
}

#home-inovacao .mdc-layout-grid__inner {
    margin: 10vh 0 10vh 0;
}

#home-inovacao .mdc-fab--mini {
    border-radius: 4px;
    background-color: #ec008c;
    font-weight: bold;
}

#home-inovacao h2 {
    padding-right: 2vw;
}

#home-inovacao #title,
#home-inovacao #text{
    text-align: right;
}

#home-inovacao #title{
    border-bottom: solid 2px;
    border-image:  linear-gradient(to right, rgba(0, 0, 0, 0) 75%, #ec008c 75%, #ec008c 100%) 2;
}
/* END | INOVAÇÃO */

/* PARA QUEM */
#home-para-quem {
    background-color: var(--mdc-theme-background);
    margin-top: -5vh;
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
}

#home-para-quem .mdc-layout-grid__inner {
    margin: 10vh 0;
    transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
}

#home-para-quem .mdc-fab--mini {
    border-radius: 4px;
    background-color: #fff200;
    font-weight: bold;
}

#home-para-quem #title h2 {
    padding-left: 2vw;
}

#home-para-quem #title,
#home-para-quem #text{
    text-align: left;
}

#home-para-quem #title{
    border-bottom: solid 2px;
    border-image:  linear-gradient(to right, #fff200 25%, #FFFFFF 25%, #FFFFFF 100%) 2;
}

#home-para-quem .mdc-image-list .mdc-image-list__item{
    width: calc(100% / 4 - 0.6vw);
    margin: 0 0.6vw 0.6vw 0;
}

#home-para-quem .mdc-image-list .mdc-image-list__image{
    border-radius: 1.6vw 0.4vw;
}

.litu-home--para-quem--depoimento{
    display: flex;
}

.litu-home--para-quem--depoimento__foto{
    width: calc(100% / 3); 
    height: calc(100% / 3 - 0.6vw);
}

.litu-home--para-quem--depoimento__foto .litu-card__media{
    background-position: center;
}

.litu-home--para-quem--depoimento__texto{
    width: calc(100% / 3 * 2);
    height: fit-content;
}