.litu-hide{
    display: none;
}

.litu-show{
    visibility: visible;
}

.litu-center {
    text-align: center;
    object-position: center;
}

/* MDC */
.litu-card{
    margin: 0 0.6vw 0.6vw 0;
}

.litu-card__media-content--text-over-media .litu-card__media-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.litu-card__primary{
    padding: 1rem;
}

.litu-card__title{
    margin-top: 0;
}

.litu-card__subtitle{
    margin-bottom: 0;
}

.litu-card__secondary{
    padding: 0 1rem 8px;
}

/* SEÇÕES ONIPRESENTES */
/* CONTATO */
#footer-contato {
    margin: 15vh 0 15vh 0;
}

#footer-contato .mdc-card {
    margin: 0
}

#footer-contato .mdc-card__media-content .litu-feather {
    margin: 0 0 2.6vh 0;
    width: 100%;
    height: 3.8rem;
}

#footer-contato .mdc-card__media-content{
    display: flex;
}

#footer-contato .litu-card__media-content--content {
    align-self: center;
    width: 100%;
}