/* HEADER */

#home-head-video {
    position: absolute;
    right: 0; bottom: 0;
    height: auto;
    min-height: 100vh;
    min-width: 100%; max-width: 100vw;
    z-index: -1;
}

#home-head{
    height: 100vh;
    background-position: center;
    background-size: 100%;
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: soft-light;
}

#home-head .mdc-layout-grid__inner {
    height: 100%;
    text-align: right;
}

.litu-home--head{
/*    background-image: url(../img/home/remow_litu-img--home--head__slide1.jpg);*/
}

#home-head .mdc-layout-grid__cell{
    text-align: right;
}

/* END | HEADER */

/* QUEM SOMOS */

#home-quemsomos {
    background-color: var(--mdc-theme-background);
    margin-top: -5vh;
    transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
}

#home-quemsomos .mdc-layout-grid__inner {
    margin: 15vh 0 20vh 0;
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
}

#home-quemsomos .mdc-linear-progress__bar-inner {
    border-color: #00a6e8;
}

#home-quemsomos h5 {
    color: #00a6e8;
    margin-top: 6px;
    transform: translateX(50%)
}

#home-quemsomos .mdc-fab--mini {
    background-color: #00a6e8;
}

.litu-home--quemsomos__titulo h2{
    margin-bottom: 0;
}

.litu-home--quemsomos__titulo hr{
    margin-left: -2vw;
    text-align: left;
    border: solid 1px;
    border-image: linear-gradient(to right, #00a6e8 25%, #FFFFFF 25%, #FFFFFF 100%) 2;
}

/* END | QUEM SOMOS */

/* INOVAÇÃO */

#home-inovacao{
    background-image: url(../img/home/remow_litu-img--home__inov.png);
    background-size: cover; background-position: center; background-attachment: fixed;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: overlay;
    margin-top: -5vh;
}

#home-inovacao .mdc-layout-grid__inner {
    margin: 15vh 0 20vh 0;
}

#home-inovacao .mdc-fab--mini {
    background-color: #ec008c;
}

.litu-home--inovacao__titulo h2 {
    margin-bottom: 0;
}

.litu-home--inovacao__titulo hr {
    margin-right: -2vw;
    text-align: right;
    border: solid 1px;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 75%, #ec008c 75%, #ec008c 100%) 2;
}

.litu-home--inovacao__titulo,
.litu-home--inovacao__texto {
    text-align: right;
}

#home-inovacao .mdc-image-list {
    max-width: 75%;
    margin-right: 0;
}

#home-inovacao .mdc-image-list .mdc-image-list__item {
    border: solid 1px #ec008c;
    border-radius: 1.6vw;
    padding: 0.8rem;
}

/* END | INOVAÇÃO */

/* PARA QUEM */

#home-paraquem {
    background-color: var(--mdc-theme-background);
    margin-top: -5vh;
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
}

#home-paraquem .mdc-layout-grid__inner {
    margin: 15vh 0 20vh 0;
    transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
}

#home-paraquem .mdc-fab--mini {
    background-color: #FFFFFF;
    border-radius: 100%;
}

.litu-home--paraquem__titulo h2{
    margin-bottom: 0;
}

.litu-home--paraquem__titulo hr{
    margin-left: -2vw;
    text-align: left;
    border: solid 1px;
    border-image: linear-gradient(to right, #fff200 25%, #FFFFFF 25%, #FFFFFF 100%) 2;
}

.litu-home--paraquem__marcas{
    display: flex;
}

#home-paraquem .litu-card,
#home-paraquem .litu-card__slick {
    display: inline-block;
    width: calc(82vw / 3 - var(--mdc-layout-grid-margin-desktop, 24px));
    transition: all 0.5s ease;
}

#home-paraquem .slick-list {
/*    overflow: visible;*/
}

#home-paraquem .litu-card .mdc-chip-set {
    padding: 0;
}

#home-paraquem .mdc-card__media {
    min-width: calc(82vw / 3 - var(--mdc-layout-grid-margin-desktop, 24px));
    background-size: cover;
    background-position: center;
}

#home-paraquem .litu-card__media__bobs{
    background-image: url(../img/home/clientes/remow_litu-bobs--foto.jpg);
}

#home-paraquem .litu-card__media__wollner{
    background-image: url(../img/home/clientes/remow_litu-wollner--foto.jpg);
}

#home-paraquem .litu-card__media__koni{
    background-image: url(../img/home/clientes/remow_litu-koni--foto.jpg);
}

#home-paraquem .litu-card__media__atelier{
    background-image: url(../img/home/clientes/remow_litu-atelier--foto.jpg);
}

#home-paraquem .litu-card__media__aladdin{
    background-image: url(../img/home/clientes/remow_litu-aladdin--foto.jpg);
}

#home-paraquem .litu-card__media__spoleto{
    background-image: url(../img/home/clientes/remow_litu-spoleto--foto.jpg);
}

#home-paraquem .litu-card__media__yoggi{
    background-image: url(../img/home/clientes/remow_litu-yoggi--foto.jpg);
}

#home-paraquem .litu-card__media__mrcat{
    background-image: url(../img/home/clientes/remow_litu-mrcat--foto.jpg);
}

#home-paraquem .litu-card__media__yuca{
    background-image: url(../img/home/clientes/remow_litu-yuca--foto.jpg);
}

#home-paraquem .mdc-card__actions {
    margin-left: auto;
    padding: 0.5rem;
}

#home-paraquem .fa-facebook-f,
#home-paraquem .fa-instagram,
#home-paraquem .fa-link {
    color: white;
    background: transparent;
}


#home-paraquem .mdc-image-list__image{
    border-radius: 1.6vw 0.4vw;
}

.litu-home--paraquem__marcas .mdc-image-list__image {
    filter: grayscale(100%);
    opacity: 0.2;
    transform: scale(0.9);
    transition: all 0.5s ease;
}

.litu-home--paraquem__marcas .mdc-image-list__image:hover {
    filter: grayscale(0);
    opacity: 1;
    transform: scale(1);
}

/* END | PARA QUEM */

/* PORTFÓLIO */

#home-portfolio{
    margin-top: -5vh;
}

#home-portfolio .mdc-layout-grid__inner:nth-child(2),
#home-portfolio .mdc-image-list__image-aspect-container {
    overflow: hidden;
}

#home-portfolio.mdc-layout-grid {
    padding: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0) 30%);
    cursor: pointer;
}
#home-portfolio .mdc-layout-grid__cell{
    z-index: -1;
}

#home-portfolio .mdc-image-list .mdc-image-list__item{
    width: calc(100% / 4);
    margin: 0;
}

#home-portfolio .mdc-image-list .mdc-image-list__image{}

.litu-home--portfolio__mais{
    position: absolute;
    z-index: 1;
    height: 90%;
    margin-top: -5vh;
    text-align: center;
}

.litu-home--portfolio__mais button,
.litu-home--portfolio__mais h3{
    display: inline-flex;
}

#home-portfolio .mdc-fab--mini {
    background-color: #fff200;
}

/* END | PORTFÓLIO */

/* SUSTENTABILIDADE */

#home-sustentabilidade {
    background-color: rgba(0,0,0,0.12);
    background-image: url(../img/home/sustentabilidade/remow_litu-img--sustentabilidade__bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: color;
}

#home-sustentabilidade .mdc-layout-grid__inner {
    margin: 15vh 0 20vh 0;
}

.litu-home--sustentabilidade__titulo hr{
    margin-left: -2vw;
    text-align: left;
    border: solid 1px;
    border-image: linear-gradient(to right, #000000 25%, transparent 25%, transparent 100%) 2;
}

#home-sustentabilidade .mdc-card {
    width: auto;
}

#home-sustentabilidade .mdc-card__primary-action {
    display: flex;
    flex-direction: row;
    cursor: default;
}

#home-sustentabilidade .mdc-card__media {
    min-width: 110px;
    background-size: contain;
}

.litu-home--sustentabilidade__reciclagem .mdc-card__media {
    background-image: url(../img/home/sustentabilidade/remow_litu-img--sustentabilidade__reciclagem.svg);
}

.litu-home--sustentabilidade__tintas .mdc-card__media {
    background-image: url(../img/home/sustentabilidade/remow_litu-img--sustentabilidade__tintas.svg);
}

.litu-home--sustentabilidade__papel .mdc-card__media {
    background-image: url(../img/home/sustentabilidade/remow_litu-img--sustentabilidade__papel.svg);
}

.litu-home--sustentabilidade__floresta .mdc-card__media {
    background-image: url(../img/home/sustentabilidade/remow_litu-img--sustentabilidade__floresta.svg);
}

#home-sustentabilidade .mdc-fab--mini {
    background-color: #000000;
}

/* END | SUSTENTABILIDADE */