/* PAGES */
.litu-pages--head {
    height: 100vh;
    background-size: cover;
}

.litu-pages--head .mdc-layout-grid__inner {
    height: 100%;
}

.litu-pages--head h1 > hr {
    margin-left: -4vw;
    text-align: left;
    border: solid 1px;
}

.litu-pages--content h2:first-of-type {
    text-align: center;
}

.litu-pages--content h2,
.litu-pages--content h3,
.litu-pages--content h4,
.litu-pages--head p {
    text-align: right;
}

.litu-pages--content {
    background-color: var(--mdc-theme-background);
    margin-top: -5vh;
    transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
}

.litu-pages--content .mdc-layout-grid__inner {
    margin: 10vh 0 15vh 0;
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
}

/* QUEM SOMOS */

#pages-quem-somos.litu-pages--head:before {
    content: "";
    top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: black
}

#pages-quem-somos.litu-pages--head:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
/*    width: 100vw; height: 100vh;*/
    background-image: url(../img/quem-somos/remow_litu-img--quem-somos__bg.jpg);
    filter: grayscale(100%);
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

#pages-quem-somos.litu-pages--head {
/*    background-image: url(../img/quem-somos/remow_litu-img--quem-somos__bg.jpg);*/
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.6);
}

#pages-quem-somos .litu-pages--head h1 > hr {
    border-image: linear-gradient(to right, #00a6e8 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%) 2;
}

#pages-quem-somos.litu-pages--head .mdc-fab--mini {
    background-color: #00a6e8;
    float: right;
}

.litu-pages--quem-somos__intro {
    text-align: center;
}

.litu-pages--quem-somos__intro hr {
    border-top: solid 1px #00a6e8;
    border-bottom: transparent;
    margin-right: 40%; margin-left: 40%;
}

.litu-pages--quem-somos__context {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    padding: 10vh 0;
}

.litu-pages--quem-somos__context__old:before {
    content: "";
    background-image: url(../img/quem-somos/remow_litu-img--quem-somos__context__old.jpg);
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    height: 100vh;
    width: 100vw;
    top: -10vh;
    left: 0;
    position: absolute;
    z-index: -999;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.litu-pages--quem-somos__context__new:before {
    content: "";
    background-image: url(../img/quem-somos/remow_litu-img--quem-somos__context__new.jpg);
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    height: 100vh;
    width: 100vw;
    top: -10vh;
    left: 0;
    position: absolute;
    z-index: -999;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.litu-pages--quem-somos__context .mdc-layout-grid__inner {
    margin: 15vh 0;
}

.litu-pages--quem-somos__significado .mdc-layout-grid__inner {
    margin: 0;
}

.litu-pages--quem-somos__significado {
    background-color: transparent;
    margin: -20vh 0 0 0;
    position: absolute;
}

.litu-pages--quem-somos__significado__content {
    background-color: darkgray;
    margin: calc(var(--mdc-layout-grid-margin-desktop, 24px) * -1);
    padding: var(--mdc-layout-grid-margin-desktop, 24px);
}

.litu-pages--quem-somos__passado,
.litu-pages--quem-somos__presente {
    background-color: transparent;
}

.litu-pages--quem-somos__passado__content hr {
    border-top: solid 1px #00a6e8;
    border-bottom: transparent;
    margin-right: -2vw;
    border-image: linear-gradient(to right, #FFFFFF 75%, #00a6e8 75%, #00a6e8 100%) 2;
}

.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item {
    width: calc(100% / 6 - 2.4%);
    margin: 0 2.4% 2.4% 0;
    text-align: center;
}

.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(6),
.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(12),
.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(18),
.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(24),
.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(30),
.litu-pages--quem-somos__presente .mdc-image-list .mdc-image-list__item:nth-child(36) {
    margin-right: 0;
}

.litu-pages--quem-somos__presente .mdc-image-list__image {
    width: 75%;
}

.litu-pages--quem-somos__resultado .mdc-layout-grid__cell--span-10 {
    background-color: #00a6e8;
    text-align: left;
    margin: 0 calc(var(--mdc-layout-grid-margin-desktop, 24px) * -1);
    padding: 0 var(--mdc-layout-grid-margin-desktop, 24px);
}

.litu-pages--quem-somos__resultado h3 {
    text-align: left;
}

/* INOVAÇÃO */

#pages-inovacao.litu-pages--head:before {
    content: "";
    top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: black
}

#pages-inovacao.litu-pages--head {
/*    background-image: url(../img/inovacao/remow_litu-img--inovacao--head__bg.jpg);*/
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.6);
}

#pages-inovacao.litu-pages--head:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
/*    width: 100vw; height: 100vh;*/
    background-image: url(../img/inovacao/remow_litu-img--inovacao--head__bg.jpg);
    filter: grayscale(100%);
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

#pages-inovacao .litu-pages--head h1 > hr {
    border-image: linear-gradient(to right, #ec008c 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%) 2;
}

#pages-inovacao.litu-pages--head .mdc-fab--mini {
    background-color: #ec008c;
    float: right;
}

.litu-pages--inovacao__intro {
    text-align: center;
}

.litu-pages--inovacao__intro hr {
    border-top: solid 1px #ec008c;
    border-bottom: transparent;
    margin-right: 40%; margin-left: 40%;
}

.litu-pages--inovacao__context {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    padding: 10vh 0;
}

.litu-pages--inovacao__context__old:before {
    content: "";
    background-image: url(../img/inovacao/remow_litu-img--inovacao__context__old.jpg);
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    height: 100vh;
    width: 100vw;
    top: -10vh;
    left: 0;
    position: absolute;
    z-index: -999;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.litu-pages--inovacao__context__new:before {
    content: "";
    background-image: url(../img/inovacao/remow_litu-img--inovacao__context__new.jpg);
    transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    height: 100vh;
    width: 100vw;
    top: -10vh;
    left: 0;
    position: absolute;
    z-index: -999;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.litu-pages--inovacao__context .mdc-layout-grid__inner {
    margin: 15vh 0;
}

.litu-pages--inovacao__significado .mdc-layout-grid__inner {
    margin: 0;
}

.litu-pages--inovacao__significado {
    background-color: transparent;
    margin: -20vh 0 0 0;
    position: absolute;
}

.litu-pages--inovacao__significado__content {
    background-color: darkgray;
    margin: calc(var(--mdc-layout-grid-margin-desktop, 24px) * -1);
    padding: var(--mdc-layout-grid-margin-desktop, 24px);
}

.litu-pages--inovacao__passado,
.litu-pages--inovacao__presente {
    background-color: transparent;
}

.litu-pages--inovacao__resultado {
    background-color: white;
    background-image: linear-gradient(to right, #FFFFFF 16.666%, #ec008c 16.666%, #ec008c 100%);
}

.litu-pages--inovacao__presente .mdc-image-list .mdc-image-list__item {
    width: calc(100% / 6 - 2.4%);
    margin: 0 2.4% 2.4% 0;
}

.litu-pages--inovacao__presente .mdc-image-list .mdc-image-list__item:nth-child(6),
.litu-pages--inovacao__presente .mdc-image-list .mdc-image-list__item:nth-child(12),
.litu-pages--inovacao__presente .mdc-image-list .mdc-image-list__item:nth-child(18),
.litu-pages--inovacao__presente .mdc-image-list .mdc-image-list__item:nth-child(24),
.litu-pages--inovacao__presente .mdc-image-list .mdc-image-list__item:nth-child(30),
.litu-pages--inovacao__presente .mdc-image-list .mdc-image-list__item:nth-child(36) {
    margin-right: 0;
}

.litu-pages--inovacao__presente .mdc-image-list__image {
    width: 75%;
}

.litu-pages--inovacao__passado__content hr {
    border-top: solid 1px #ec008c;
    border-bottom: transparent;
    margin-right: -2vw;
    border-image: linear-gradient(to right, #FFFFFF 75%, #ec008c 75%, #ec008c 100%) 2;
}

/* PORTFÓLIO */
#pages-portfolio {}

/* NOVO */

#pages-portfolio .mdc-top-app-bar {
    background-color: #fff200;
}

#pages-portfolio .mdc-top-app-bar .mdc-button {
    width: calc(100% / 7);
}

#pages-portfolio .litu-pages--content .mdc-layout-grid__inner {
    margin-top: calc(84px + var(--mdc-layout-grid-margin-desktop, 24px));
}

#pages-portfolio .mdc-image-list .mdc-image-list__item {
    width: calc(100% / 3 - .2%);
    margin: 0 .2% .2% 0;
}

#pages-portfolio .mdc-image-list a .mdc-image-list__image {
    transition: ease .5s all;
}

#pages-portfolio .mdc-image-list a:hover .mdc-image-list__image {
    transform: scale(1.05);
}

    /* filtro */

    .filterDiv {
        display: none;
    }

    .show {
        display: list-item;
    }

.litu-pages--portfolio__galeria__text {
    pointer-events: none;
}

.litu-pages--portfolio__galeria__text h5,
.litu-pages--portfolio__galeria__text p {
    margin: 1rem;
}

.litu-pages--portfolio__galeria__text p:first-child {
    font-family: 'Permanent Marker', cursive;
    line-height: normal;
}

/* NOVO */

#pages-portfolio .litu-pages--head p {
    white-space: nowrap;
    max-width: 66.666vw;
}

.litu-pages--head__nav .mdc-card {
    border: solid 0px var(--mdc-theme-primary);
}

.litu-pages--head__nav__last .mdc-card {
    background-color: white;
}

.mdc-card__media-content {
    position: absolute;
    top: 50%; right: auto; left: 50%; bottom: auto;
    transform: translate(-50%, -50%);
    margin: 0;
}

.litu-pages--portfolio__head__item {
    text-align: center;
}

i.litu-pages--portfolio__head__item {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--mdc-theme-primary);
}

.litu-pages--portfolio__galeria__text .mdc-button:last-child, 
.litu-pages--head--menu__tudo:last-child {
    color: var(--mdc-theme-primary);
    border: none;
}

#pages-portfolio.litu-pages--head .mdc-fab--mini {
    background-color: #fff200;
    float: right;
}

.litu-pages--portfolio__intro hr {
    border-top: solid 1px #fff200;
    border-bottom: transparent;
    margin-right: 40%; margin-left: 40%;
}

#pages-portfolio .mdc-image-list__supporting {
    height: 100%;
}

#pages-portfolio .mdc-image-list__label {
    width: 100%;
    text-align: center;
}