:root{
    --mdc-typography-font-family: 'Roboto Slab', serif;
    --mdc-theme-primary: #2e7d32;
/*    --mdc-theme-on-primary: #000000;*/
    --mdc-theme-secondary: #2e7d32;
/*    --mdc-theme-on-secondary: #ec2326;*/
/*    --mdc-theme-surface: #;*/
/*    --mdc-theme-on-surface: #;*/
    --mdc-theme-background: #FFFFFF;
}

.mdc-typography {
    font-family: 'Roboto Slab', serif !important;
}

.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6 {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.mdc-typography--headline1,
.mdc-typography--headline2 {
    font-weight: 600;
}

.mdc-icon-button{
    padding: 0;
}

.mdc-fab:not(.mdc-fab--extended),
.mdc-fab--mini {
    border-radius: 4px;
    font-weight: bold;
}

.mdc-typography--headline1 + .mdc-typography--subtitle1,
.mdc-typography--headline1 + .mdc-typography--subtitle2{
    margin-top: -3em;
}

.mdc-typography--headline2 + .mdc-typography--subtitle1,
.mdc-typography--headline2 + .mdc-typography--subtitle2{
    margin-top: -2.4em;
}

.mdc-typography--headline6 + .mdc-typography--subtitle1,
.mdc-typography--headline6 + .mdc-typography--subtitle2{
    margin-top: -1.2em;
}

.mdc-layout-grid__inner{
    width: 100%;
}

/* MATERIAL ICONS */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }