:root{
    --mdc-typography-font-family: 'Assistant', sans-serif;
    --mdc-theme-primary: #2e7d32;
/*    --mdc-theme-on-primary: #000000;*/
    --mdc-theme-secondary: #005005;
/*    --mdc-theme-on-secondary: #ec2326;*/
/*    --mdc-theme-surface: #;*/
/*    --mdc-theme-on-surface: #;*/
    --mdc-theme-background: #FFFFFF;
}

.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--button {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    line-height: 1;
}

.mdc-typography,
.mdc-typography--subtitle1,
.mdc-typography--subtitle2,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--caption,
.mdc-typography--overline,
.mdc-text-field__input,
.mdc-floating-label {
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
}

.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--button {
    font-weight: 600;
}

.mdc-icon-button{
    padding: 0;
}

.mdc-card__primary-action {
    color: var(--mdc-theme-primary, #2e7d32);
}

.mdc-fab:not(.mdc-fab--extended),
.mdc-fab--mini {
    border-radius: 4px;
    font-weight: bold;
}

.mdc-typography--headline1 + .mdc-typography--subtitle1,
.mdc-typography--headline1 + .mdc-typography--subtitle2,
.mdc-typography--headline1 + .mdc-typography--caption{
    margin-top: -3em;
}

.mdc-typography--headline2 + .mdc-typography--subtitle1,
.mdc-typography--headline2 + .mdc-typography--subtitle2,
.mdc-typography--headline2 + .mdc-typography--caption{
    margin-top: -2.4em;
}

.mdc-typography--headline6 + .mdc-typography--subtitle1,
.mdc-typography--headline6 + .mdc-typography--subtitle2,
.mdc-typography--headline6 + .mdc-typography--caption{
    margin-top: -1.2em;
}

.mdc-layout-grid__inner{
    width: 100%;
}

/* LIST */
.mdc-list--dense .mdc-list-item {
    height: 2em;
    padding: 0 .5em;
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::before, 
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::after {
    background-color: var(--mdc-theme-primary, #2e7d32);
}

/* IMAGE LIST */
.mdc-image-list .mdc-image-list__item {
    width: calc(100% / 4 - 1.8%);
    margin: 0 2.4% 2.4% 0;
}

.mdc-image-list .mdc-image-list__item:nth-child(4),
.mdc-image-list .mdc-image-list__item:nth-child(8),
.mdc-image-list .mdc-image-list__item:nth-child(12),
.mdc-image-list .mdc-image-list__item:nth-child(16),
.mdc-image-list .mdc-image-list__item:nth-child(20),
.mdc-image-list .mdc-image-list__item:nth-child(24) {
    margin-right: 0;
}

/* DIALOGS */
.mdc-dialog__container {
    width: 100vw;
}
.mdc-dialog .mdc-dialog__surface {
    max-width: 96vw; width: 70vw;
}
.mdc-dialog .mdc-layout-grid {
    width: 100%;
    padding-left: 0; padding-right: 0; padding-bottom: 0;
}

/* TEXT FIELDS */
.mdc-text-field {
    width: 100%
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-secondary, #005005);
}

/* MATERIAL ICONS */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }