html, body {
    padding: 0;
    margin: 0;
}

html {
    background-image: url(../img/remow_litu-img--footer__bg.png); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: bottom;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 > hr{
/*    margin: 0.67em 0;*/
}

h2 > hr{
    margin: 0.415em 0;
}

div > p {
    margin-top: 0;
}

li {
    line-height: 0;
}

.fa, .fab, .fad, .fal, .far, .fas {
    line-height: initial;
}

.fa-linkedin-in,
.fa-linkedin {
    color: #0e76a8;
}

.fa-facebook-f,
.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: transparent;
    background: #833ab4;
    background: -webkit-linear-gradient(-75deg, #833ab4, #fd1d1d, #fcb045);
    background: linear-gradient(-75deg, #fcb045, #fd1d1d, #833ab4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent.
}

.fa-pinterest-p {
    color: #e60023;
}